<div class="flats-container">
  <h1><%= @flat.name %></h1>
  <h2><%= @flat.address %></h2>
  <h2> A bit more about this flat...</h2>
  <p><%= @flat.description%></p>
  <%= link_to "Back to all Flat", flats_path, class: "btn btn-primary" %>

  </div>
